.select {
    position: relative;

    display: inline-block;

    cursor: pointer;
    vertical-align: middle;

    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 32px auto;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/* Theme */

.select {
    font-size: 15px;

    height: 32px;
    width: 100%;
    padding: 0 20px 0 10px;

    color: #444;
    color: #3f3f3f;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    border-radius: 3px;
}

/* Hacks */

/* FF(all): remove dotted inner focus ring */
.select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* FF(<35): remove background-image where appearance: none is not supported */
_:-moz-tree-row(hover), .select { background-image: none }

/* FF(35+): add default background-image back where appearance: none is * supperted*/
@supports (-moz-appearance:none) and (mask-type:alpha) {
  .select {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  }
}

/* IE(10+): hide expand-arrow */
.select::-ms-expand { display: none }

/* IE(9/10): make expand-arrow look as reasonable as possible */
@media screen and (min-width:0\0) {
  .select {
    z-index: 1;
    padding: .25rem !important;
  }
}

/* under the influence of wtfforms, Mailchimp, and Foundation */
