/*
 * Select
 */

.select {
  position: relative;
  display: inline-block;
  color: #555;
}
.select select {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: .5rem 2.25rem .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
/* Undo the Firefox inner focus ring */
.select select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* Dropdown arrow */
.select:after {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -.15rem;
  pointer-events: none;
  border-top: .35rem solid;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent;
}

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.select select:hover {
  background-color: #ddd;
}
*/

/* Focus */
.select select:focus {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

/* Active/open */
.select select:active {
  color: #fff;
  background-color: #0074d9;
}

/* Hide the arrow in IE10 and up */
.select select::-ms-expand {
  display: none;
}

/* IE9 hack to hide the arrow */
@media screen and (min-width:0\0) {
  .select select {
    z-index: 1;
    padding: .5rem 1.5rem .5rem 1rem;
  }
  .select:after {
    z-index: 5;
  }
  .select:before {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    z-index: 2;
    content: "";
    display: block;
    width: 1.5rem;
    background-color: #eee;
  }
  .select select:hover,
  .select select:focus,
  .select select:active {
    color: #555;
    background-color: #eee;
  }
}


/* -------------------------- */

.bare-select {
  position: relative;
  height: 36px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .01em;
  border-collapse: separate;
  padding: 0 39px 0 18px;
  /* background: url(./dropdown.svg) no-repeat right center #e0e0e0; */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: right center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 30px auto;
  width: 100%;
  color: #595959;
  background-color: #e0e0e0;



  display: inline-block;
  padding: 0 .4em 0 .4em;
  margin-bottom: 2em;
  vertical-align: middle;
  border-radius: 3px;



  font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;

  cursor: pointer;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Undo the Firefox inner focus ring */
.bare-select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* Focus */
.bare-select:focus {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

/* IE9 hack to hide the arrow */
@media screen and (min-width:0\0) {
  .bare-select {
    z-index: 1;
    padding: .5rem 1.5rem .5rem 1rem;
  }

  .bare-select:hover,
  .bare-select:focus,
  .bare-select:active {
    color: #555;
    background-color: #eee;
  }
}

/* Hide the arrow in IE10 and up */
.bare-select::-ms-expand {
  display: none;
}


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
{


/* ---- zurb foundation */
/*  */
/* @mixin form-select  { */
/*   -webkit-appearance: none !important; */
/*   border-radius: 0; */
/*   background-color: $select-bg-color; */
/*  */
/*   // Hide the dropdown arrow shown in newer IE versions */
/*   &::-ms-expand { */
/*     display: none; */
/*   } */
/*  */
/*   // The custom arrow has some fake horizontal padding so we can align it */
/*   // from the right side of the element without relying on CSS3 */
/*   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+); */
/*  */
/*   // We can safely use leftmost and rightmost now */
/*   background-position: if($text-direction == 'rtl', 0%, 100%) center; */
/*  */
/*   background-repeat: no-repeat; */
/*   border: { */
/*     style: $input-border-style; */
/*     width: $input-border-width; */
/*     color: $input-border-color; */
/*   } */
/*   padding: ($form-spacing / 2); */
/*   font-size: $input-font-size; */
/*   font-family: $body-font-family; */
/*   color: $input-font-color; */
/*   line-height: normal; */
/*   @include radius(0); */
/*   &.radius { @include radius($global-radius); } */
/*   &:hover { */
/*     background-color: $select-hover-bg-color; */
/*     border-color: $input-focus-border-color; */
/*   } */
/*   // Disabled Styles */
/*   &:disabled { */
/*     background-color: $input-disabled-bg; */
/*     cursor: $input-disabled-cursor; */
/*   } */
/* } */
